html,body,nav,div,header,article,section,footer {
  margin: 0px;
  border: 0px transparent;
  padding: 0px;
}

html,body {
  width: 100%;
  height: 100%;

  font-size: 1.05em;
  line-height: 1.25em;
  font-family: sans-serif;

  background-color: #61788C;
}

html {
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  width: 75%;
  margin: 0 auto;
}

header h1 {
  padding-top: 15px;
  font-weight: normal;
}

div#face-container {
  height: 100%;
  width: 100%;
}

img#face {
  border-radius: 50%;
  max-width: 25%;
  max-height: 25%;
  padding-top: 2%;
  text-align: center;
}

header p {
  width: 50%;
  margin: 0 auto;
  text-align: justify;
}

nav {
  width: 50%;
  margin: 0 auto;
}

nav a {
  text-decoration: none;
}

.site-logo {
  width: 35px;
  height: 35px;
  margin-bottom: -8px;
}

/* Flexbox generator: https://the-echoplex.net/flexyboxes/ */

.flexbox {
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 100%;
}

.flexbox-item {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;

    padding: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

header p, nav, div#footer-container {
  margin-top: 25px;
}
