.mobile-only {
  display: none;
}

.desktop-only {
  display: block;
}

#mobile-menu {
  background-color: #FFF;
}

#mobile-menu nav.site-icons {
  padding-top: 13px;
  height: 48px;
}

#mobile-menu nav.site-nav {
  font-size: 2em;
  line-height: 2em;
}

#mobile-menu nav.site-nav a {
  display: block;

  border-bottom: 1px solid #000;
}


@media only screen and (max-width: 707px) {
  html,body {
    font-size: 0.9em;
  }

  h1 {
    font-size: 3em;
  }

  section.page article p {
    font-size: 1.4em;
    line-height: 1.4em;
  }

  section.page footer {
    margin-top: 50px;

    width: 100%;

    font-size: 1.2em;
  }

  .mobile-text-center {
    text-align: center;
  }

  .mobile-text-left {
    text-align: left;
  }

  .mobile-text-right {
    text-align: right;
  }

  .column-left {
    display: block;
    float: none;
    width: 90%;
    margin: 0 auto;
  }

  .column-right {
    display: block;
    float: none;
    width: 90%;
    margin: 0 auto;
  }

  .column-center {
    display: block;
    width: 90%;
    float: none;
    margin: 0 auto;
  }

  .mobile-column-left {
    display: block;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
  }

  .mobile-column-right {
    display: block;
    float: right;
    margin-left: 5px;
    margin-right: 5px;
  }

  .mobile-column-center {
    display: block;
    margin-left: 5px;
    margin-right: 5px;
    margin: 0 auto;
  }

  .mobile-only {
    visibility: visible !important;
    display: block !important;
  }

  .desktop-only {
    visibility: collapse !important;
    display: none !important;
  }

  .mobile-text-center {
    text-align: center !important;
  }

  .no-mobile-margin {
    margin: 0 0 !important;
  }

  .no-mobile-padding {
    padding: 0px !important;
  }

  .mobile-shading-black {
    background-color: rgba(17, 17, 34, 0.4);
  }
}
