.mobile-only {
  display: none;
}

.desktop-only {
  display: block;
}

@media only screen and (max-width: 1000px) {
  html,body {
    width: 100% !important;
  }

  img#face {
    width: 35%;
    max-width: 35% !important;
    max-height: 35% !important;
  }

  header p {
    width: 80% !important;
  }

  nav {
    width: 80% !important;
  }
}

@media only screen and (max-width: 707px) {
  html,body {
    font-size: 0.9em;
    width: 100% !important;
  }

  img#face {
    width: 50%;
    max-width: 50% !important;
    max-height: 50% !important;
  }

  h1 {
    font-size: 3em;
  }

  header p {
    width: 90% !important;
  }

  nav {
    width: 90% !important;
  }
}
